<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youth Space</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="login-page">
    <header class="Barra-de-Navegação">
        <div class="nav">
            <a href="#" class="youth-nav">Youth Space</a>
            <a href="#" class="home-nav">Home</a>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>